*.pyc
*.db
*.sqlite3
*.log
__pycache__/
faiss_db_*/
.env
corpora/*.jsonl
corpora/*.zip
human/generation_tasks/*.jsonl
venv
.DS_Store
.venv
collections/
predictions/
query_rewrite_files/
app.log
corpus/*
.vscode
human/
*.jsonl
*.json
*.zip